* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 10vmin;
    width: 50rem;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-input {
    min-width: 80%;
    max-width: 100%;
    margin-bottom: 5rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
    font-size: 3rem;
}

#find-text {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    padding: 1rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}

#source-text {
    z-index: 10;
    position: absolute;
    margin: 2rem;
    right: 0;
    top: 0;
    font-size: 1rem;
}

#create-option-menu {
    z-index: 5;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.normal-input {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
    font-size: 2rem;
}
