:root {
    --main-width: 45rem;
    --max-main-width: 90%;
    --large-margin: 5rem;
    --medium-margin: 2.5rem;
    --small-margin: 1rem;
    --border-radius: 3px;
    --focus-color: #4361ee;
    --background-color: white;
    --buttons-color: #e9e9ed;
    --buttons-hover-color: #a9c5e5;
    --buttons-fancy-color: #3997f5;
    --lines-color: black;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --focus-color: #ffb703;
        --background-color: #0d0f19;
        --buttons-color: #14213d;
        --buttons-hover-color: #166e7c;
        --buttons-fancy-color: rgb(231, 142, 40);
        --lines-color: rgba(255, 255, 255, 0.5);
        --text-color: #ececec;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--text-color);
}

*:focus {
    outline: 0.2rem solid var(--focus-color);
}

body {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 1rem;
}

.menu {
    width: var(--main-width);
    max-width: var(--max-main-width);
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-input {
    background-color: var(--background-color);
    width: calc(100% - 4rem);
    padding: 2rem;
    font-size: 3rem;
    border: 2px solid var(--lines-color);
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
}

button {
    background-color: var(--buttons-color);
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
}

button:hover {
    background-color: var(--buttons-hover-color);
}

.main-button {
    background-color: var(--buttons-fancy-color);
}

.buttons-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.normal-input {
    background-color: var(--background-color);
    width: calc(100% - 4rem);
    padding: 1rem;
    border: 2px solid var(--lines-color);
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#menu-extra-functions {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

details summary {
    list-style: none;
    cursor: pointer;
}

#source-text {
    z-index: 10;
    position: absolute;
    margin: 2rem;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    color: var(--focus-color);
}
